@namespace Wadatsumi.Jinja.Pages
@page "/Jinja/New"
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@inject Data.JinjaDbContext jinjadb
@inject NavigationManager navigation
@inject IJSRuntime jsruntime
@inject HttpClient httpClient

<h1>神社追加</h1>

@if (Jinja != null)
{
<JinjaEditor Jinja="Jinja"></JinjaEditor>
}

<hr />

<div class="row d-flex flex-row align-items-center">
    <div class="col-xl-1 col-lg-2 col-3 text-right"><h3>御朱印</h3></div>
    <div>
        <RadzenCheckBox TValue="bool" @bind-Value=IsGoshuin />
        <br />
    </div>
</div>

<br />

<div class="row d-flex flex-row align-items-center">
    <div class="col-xl-1 col-lg-2 col-3 text-right"></div>
    <div>
        <RadzenButton Click=Create>適用</RadzenButton>
    </div>
</div>

@code{
    private Data.Jinja Jinja { get; set; }
    private bool IsGoshuin { get; set; } = false;

    protected override void OnInitialized()
    {
        Jinja = new Data.Jinja()
        {
            SaijinList = new List<Data.Saijin>(),
            Location = new Data.Location(),
        };
        base.OnInitialized();
    }

    protected void Create()
    {
        Jinja.SaijinList.RemoveAll(s => s == null || s.Kami == null);
        jinjadb.JinjaDbSet.Add(Jinja);
        jinjadb.Entry(Jinja).State = EntityState.Added;

        Data.Goshuin goshuin = null;
        if (IsGoshuin)
        {
            goshuin = new Data.Goshuin()
            {
                Jinja = Jinja,
                VisitDate = DateTime.Now,
            };
            jinjadb.GoshuinDbSet.Add(goshuin);
            jinjadb.Entry(goshuin).State = EntityState.Added;
        }

        jinjadb.SaveChanges();

        if (IsGoshuin)
            navigation.NavigateTo($"/Jinja/Goshuin/Edit/{goshuin.ID}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //ryouseikokuDropDown.Reset();
        }
        base.OnAfterRender(firstRender);
    }
}

@*DropDownDataGrid*@
@*//private RadzenDropDownDataGrid<Ryouseikoku> ryouseikokuDropDown;*@
@code{
    #region
    /*
    <div class="row d-flex flex-row align-items-center">
        <div class="col-xl-1 col-lg-2 col-3 text-right"><h3>令制国</h3></div>
        <div>
            <RadzenDropDownDataGrid @ref="ryouseikokuDropDown" TValue="Ryouseikoku"
                                Data=@RyouseikokuList TextProperty="Name"
                                PageSize="8" Change="@(r => Jinja.Ryouseikoku = (Ryouseikoku)r)">
                <Columns>
                    <RadzenDropDownDataGridColumn Context="ryouseikoku" Title="地方" Width="30px">
                        <Template>@ryouseikoku.Region.Name</Template>
                    </RadzenDropDownDataGridColumn>
                    <RadzenDropDownDataGridColumn Context="ryouseikoku" Title="国名" Width="70px">
                        <Template>@ryouseikoku.Name</Template>
                    </RadzenDropDownDataGridColumn>
                </Columns>
            </RadzenDropDownDataGrid>
        </div>
    </div>
    */
    #endregion
}