@namespace Wadatsumi.Jinja.Pages
@page "/Jinja/Theory/{ID:int}"

@inject Data.JinjaDbContext jinjadb
@inject NavigationManager navigation
@using Radzen.Blazor

@code
{
    [Parameter]
    public int ID { get; set; }
    private Data.Theory Theory { get; set; }
    private string ArticleText { get; set; }

    protected override void OnParametersSet()
    {
        Theory = jinjadb.TheoryDbSet.Find(ID);
        ArticleText = Theory.LoadArticle();
        base.OnParametersSet();
    }
}

<h2>@Theory.Title</h2>
<RadzenHtml>@ArticleText</RadzenHtml>
<RadzenButton Click="@(args => navigation.NavigateTo(Data.PathDefine.TheoryEditUrl(Theory.ID)))">編集</RadzenButton>
  