@page "/"
@using Radzen.Blazor
@inject Data.Jinja.JinjaDbContext jinjadb 

<h1>@jinjadb</h1>
<RadzenButton Text="TestRadzenButton"></RadzenButton>
<Radzen.Blazor.RadzenChart></Radzen.Blazor.RadzenChart>

Welcome to your new app.

<SurveyPrompt Title="asdf" />

@code{ 
}
