@page "/Jinja/Goshuin/Edit/{ID:int}"
@namespace Wadatsumi.Jinja.Pages.Goshuin 
@using Radzen.Blazor
@inject Data.JinjaDbContext jinjadb
@inject NavigationManager navigation 

<h2>@Goshuin.Jinja.Name</h2>

<RadzenDatePicker @bind-Value="Goshuin.VisitDate" ShowTime="true" DateFormat="yyyy/MM/dd HH:mm"></RadzenDatePicker>

<RadzenHtmlEditor @bind-Value="TravelogueText">

</RadzenHtmlEditor>
<RadzenButton Click="Save">保存</RadzenButton>

@code {
    [Parameter]
    public int ID { get; set; }

    private Data.Goshuin Goshuin { get; set; }

    private string TravelogueText { get; set; }

    protected override void OnParametersSet()
    {
        Goshuin = jinjadb.GoshuinDbSet.Find(ID);
        TravelogueText = Goshuin.LoadTravelogue();
        base.OnParametersSet();
    }

    private void Save()
    {
        Goshuin.SaveTravelogue(TravelogueText);
        jinjadb.Entry(Goshuin).State = Microsoft.EntityFrameworkCore.EntityState.Modified;
        jinjadb.SaveChanges();
        navigation.NavigateTo(Data.PathDefine.GoshuinListUrl);
    }
}
